// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primary : #00558a;
$success : #02fd7d;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
//@import "~sweetalert2";
.side-nav {
    position: sticky;
    top: 3rem;
    //display: block;
    height: calc(100vh - 10rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
}
.list-group-item{
    transition: .4s;
}

.list-group-item.active {
    z-index: 2;
    color: #000;
    background-color: #ffffff;
    border-color: $primary;
    border-left-width: 10px;
    /* border: none; */
    /* border-right-width: 5px; */
    border-left-color: $primary;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    color:$primary !important;
    padding: .1em .5em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: #fff;
    border:1px solid $primary !important;
    //background-color: $primary;
    background: linear-gradient(to bottom, rgb(14, 173, 222) 0%, rgb(77, 127, 255) 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: $primary !important;
    border: 1px solid $primary;
    //background-color: $primary;
    background: linear-gradient(to bottom, rgba(14, 173, 222, 0) 80%, rgb(77, 127, 255) 20%);
}
#itemPreview{
    transition: .4s;
    cursor: pointer;
}
#itemPreview:active{
    transform: scale(0.95);
}


