// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
//@import "~sweetalert2";

.side-nav{
    position: sticky;
    top: 3rem;
    //display: block;
    height: calc(100vh - 10rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
}
